@theme-img-path: '../../../themes/@{theme}/img/';


#app{
    .headerPanel{
            background-image: url(../../../themes/uv-en-GB-theme/img/logo.png);
            background-color: black;
            background-repeat: no-repeat;
            background-size: 300px;
            background-position-x: 10px;
            background-position-y: 7px;
        .options{
            background: none;
            .centerOptions{
                width: 390px;
                left: 333px;
            }
            .rightOptions{
                .settings{
                    background: url('@{theme-img-path}hamburger.png');
                }
            }
        }
    }
}
